<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="menor.php" method="POST">
        <input type="number" placeholder="Introducir numero 1" name="numeroa"><br><br>
        <input type="number" placeholder="Introducir numero 2" name="numerob"><br><br>
        <input type="number" placeholder="Introducir numero 3" name="numeroc"><br><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>